html {
	font-size: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body {
	margin: 0;
	padding: 0;
	background-color: rgb(226, 240, 241);
}

.name-task {
	color: green;
	text-align: center;
	font-size: 3rem;
}
